{% extends 'base.html' %}

{% block content %}

    <body style="background-color:#fefefe;">
   
    <h1 style="color:#050505; font-family: 'Antique Olive' ">{% block title %} Sustainable Farming Practices {% endblock %}</h1>
    
    <br> <br>
   <div>
    <h5 style="font-style: italic">Learn more about Sustainable Farming Practices</h5>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/X4DZLtdSeCM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
    <br> <br>
    <h5 style="font-style: italic">Why is sustainable farming the need of the hour?</h5>
 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FWG8IXXmHJo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
    <br> <br>
    <h5 style=" font-style: italic"> More inspiration </h5>
  
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KfB2sx9uCkI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
     </div>

      <style>
        div {
            text-align: center;
        }
    </style>













    
{% endblock %}